.input {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.input__label {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.input__field {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
}

.input__field:focus {
  border-bottom: 1px solid #000;
}

.input__field_error {
  color: #ff4062;
}
.input__error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
  padding: 6px 0;
  min-height: 24px;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease;
}

.input__error_visible {
  opacity: 1;
  visibility: visible;
}
