.cards {
  display: grid;
  grid-template-columns: repeat(1, 1140px);
  grid-row-gap: 40px;
  padding: 70px;
  margin: 0 auto;
  justify-content: center;
}

.cards__more {
  margin: 0 auto;
  width: 320px;
  border: 1px solid #E8E8E8;
  background-color: white;
  min-height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.cards__more:hover {
  background-color: #E8E8E8;;
}


@media (max-width: 1279px) {
  .cards {
    grid-template-columns: repeat(1, 708px);
    grid-row-gap: 40px;
    padding: 70px 30px;
  }
  .cards__more {
    margin: 50px 30px 80px;
    width: 320px;
  }
}

@media (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(1, 300px);
    grid-row-gap: 16px;
    padding: 40px 10px;
  }
  .cards__more {
    margin: 50px 10px 80px;
    width: calc( 100% - 20px );
  }
}