.header {
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
  box-sizing: border-box;
}

.logo {
  height: 38px;
  width: 38px;
  object-fit: cover;
}

.header__container {
  display: flex;
}

.header__auth {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 15px;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
}

.header__menu-item:hover {
  opacity: 0.7;
}

.header__menu-item_active {
  text-decoration: underline;
}

.header__menu_hidden {
  display: none;
}

.header__signup {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 15px;
  margin-left: 5px;
  text-decoration: none;
  color: #000;
}

.header__signup:hover {
  opacity: 0.8;
}

.header__signin {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fff;
  background-color: #2be080;
  border: none;
  outline: none;
  padding: 0;
  min-width: 76px;
  height: 32px;
  border-radius: 3px;
  margin-left: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__signin:hover {
  opacity: 0.8;
}

.header__profile {
  min-width: 100px;
  height: 32px;
  border: none;
  outline: none;
  background-color: #fff;
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  box-sizing: border-box;
  text-decoration: none;
}

.header__profile:hover {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.2);
}

.header__profile-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  padding: 0 7px;
  color: #000;
}

.header__profile-img {
  width: 26px;
  height: 26px;
  padding: 7px;
  background-color: #f9f9f9;
  border-radius: 50%;
  box-sizing: border-box;
}

.header__open-menu {
  display: none;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  z-index: 0;
}

.header__line {
  height: 3px;
  width: 28px;
  background-color: #000;
  position: relative;
  display: none;
}

.header__line:before {
  content: '';
  height: 3px;
  width: 28px;
  position: absolute;
  background-color: #000;
  top: 10px;
}

.header__line:after {
  content: '';
  height: 3px;
  width: 28px;
  background-color: #000;
  position: absolute;
  top: -10px;
}

.header__close-menu {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header__cross {
  position: absolute;
  height: 3px;
  width: 22px;
  transform: rotate(45deg);
  background-color: #000;
}

.header__cross::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 22px;
  transform: rotate(90deg);
  background-color: #000;
}

@media (max-width: 1279px) {
  .header {
    padding: 18px 30px;
  }
  .header__cover {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
  }

  .header__cover_hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
  }

  .header__menu {
    position: fixed;
    min-height: 100vh;
    width: 520px;
    top: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 159px;
  }

  .header__menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding: 14px;
  }

  .header__profile {
    margin: 0;
    margin-top: 1000px;
  }

  .header__open-menu {
    display: flex;
  }

  .header__line {
    display: block;
  }

  .header__close-menu {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 30px;
  }

  .header__menu {
    max-width: 100%;
    padding-top: 144px;
  }

  .header__menu-item {
    padding: 12px;
  }

  .header__profile {
    bottom: 46px;
    margin-top: 450px;
  }

  .header__open-menu {
    width: 38px;
    height: 38px;
  }
}
