.footer {
  padding: 20px 70px;
}

.footer__title {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding: 59px 0 20px 0;
  border-bottom: 1px #E8E8E8 solid;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  padding-top: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: right;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  box-sizing: border-box;
  transition: ease .2s;
}

.footer__link:hover {
  font-weight: 500;
}

@media (max-width: 1279px) {
  .footer {
    padding: 20px 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 10px;
  }
  .footer__title {
    font-size: 12px;
    line-height: 15px;
    padding: 69px 0 21px 0;
  }
  .footer__info {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 10px;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    padding: 14px 0;
  }
  .footer__item {
    padding: 6px 0;
  }
  .footer__link {
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__copyright {
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
}